{
  "semi": true,
  "singleQuote": false,
  "trailingComma": "all",
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "arrowParens": "always",
  "endOfLine": "lf",
  "bracketSpacing": true,             
  "embeddedLanguageFormatting": "auto", 
  "proseWrap": "preserve",            
  "htmlWhitespaceSensitivity": "css",
  "quoteProps": "consistent",
  "requirePragma": false,             
  "insertPragma": false,             
  "overrides": [                      
    {
      "files": "*.json",
      "options": {
        "printWidth": 100
      }
    }
  ]
}
